<h1>  <%= link_to 'Homepage', products_path %></h1>

 <h3><strong>  Back to My Order Page<%= link_to "click here ", orders_path, { :class => "button waves-effect waves-light btn" } %></strong> </h3>
<br><br>  
<h4>Edit Orders </h4>

<%= render 'orders/form' %>
